<% if @active_owners.empty? %>
  <h4>There are no owners in the system at this time.</h4>
<% else %>
  <h3>Active Owners in PATS</h3>
  <table class="table table-striped table-hover table-borderless">
    <thead class="table-dark">
      <th>Owner</th>
      <th>Phone</th>
      <th>Email</th>
      <th class="align_center">Options</th>
    </thead>
    <tbody class="table-group-divider">
      <% for owner in @active_owners %>
        <tr>
          <td><%= link_to "#{owner.last_name}, #{owner.first_name}", owner_path(owner) %></td>
          <td><%= number_to_phone owner.phone %></td>
          <td><%= mail_to owner.email, owner.email, encode: "javascript" %></td>
          <td class="align_center">
            <%= link_to edit_owner_path(owner) do %>
                <i class="bi bi-pencil text-primary"></i>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to(owner_path(owner), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
                <i class="bi bi-trash text-primary"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @active_owners, renderer: BootstrapPaginationHelper::BootstrapLinkRenderer %>
<% end %>
<p class="supertiny">&nbsp;</p>

<%= link_to "Add a New Owner", new_owner_path, class: 'btn btn-primary' %> 
