<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <div class="container">
    <!-- Mobile toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Collapsible navbar content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left-aligned navigation items -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Owners', owners_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Pets', pets_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Visits', visits_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Medicines', medicines_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Procedures', procedures_path, class: 'nav-link' %>
        </li>
      </ul>
      
      <!-- Right-aligned navigation items -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
