<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= content_for(:title) || "Pats V1" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Google Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" %>
  </head>

  <body class="d-flex flex-column h-100">
    <!-- Partials for the topbar and navigation -->
    <%= render :partial => "partials/topbar" %>
    <% if logged_in? %>
      <%= render :partial => "partials/nav" %>
    <% else %>
      <%= render :partial => "partials/nav_guest" %>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Flash messages appear here -->
          <%= render :partial => "partials/flash" %>

          <!-- MAIN CONTENT OF TEMPLATE GOES HERE -->
          <div id="main-template">
            <%= yield %>
          </div>

        </div>
      </div>
    </div>
    
    <%= render :partial => "partials/footer" %>   
    <%= javascript_include_tag 'application' %>
 
  </body>
</html>
